.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem;


    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 2rem;
    cursor: pointer;
    font-size: 20px;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
}