<<<<<<< HEAD
.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem;


    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 2rem;
    cursor: pointer;
    font-size: 20px;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
=======
.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 2rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 2rem;
    cursor: pointer;
    font-size: 20px;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
>>>>>>> d059be558a262729d5e5a66ef84c2a8797547c9f
}