.app__header {
    background-color: white;
}

.aligner{
    display: flex;
    align-content: space-between;
    align-items: center;
}

.headerBox {
    margin-left: 3%;
}

.app__header-h1{
    background: #005c97;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: 'white';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    

    animation: textshift-rev 0.75s ease forwards;
  
  }
  
  .app__header-h1:hover{
      animation: textshift 0.5s ease-in forwards;
  }
  
  @keyframes textshift-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  @keyframes textshift {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }


.image__style {
    width: 33%;
}

.subheading {
    font-family: var(--font-base);
    color: black;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 29.9px;
    font-size: 23px;
}

.button__links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button__styling {
    width: 30px;
    top: 30px,
}

.buttonImage {
    background-color: white;
    font-family: var(--font-base);

    border: none;
    outline: none;
    cursor: pointer;
    margin:10px;

}
@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
    .image__style {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
    .image__style {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
    .image__style {
        display: none;
    }
}